<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Add a button which says 'Display Details'</li>
        <li>Add a paragraph</li>
        <li>Toggle the displaying of that paragraph with the button created</li>
        <li>Log all button clicks on an array</li>
        <li>Starting at the 5th log item</li>
      </ol>
      <!--<button class="btn btn-primary" (click)="showParagraph=!showParagraph">Display Details</button>-->
      <button class="btn btn-primary" (click)="onToggleDetails()">Display Details</button>
      <p *ngIf="showParagraph">Random paragraph</p>
      <div
      *ngFor="let logItem of log"
      [ngStyle]="{backgroundColor:logItem>=5 ? 'blue':'transparent'}"
      [ngClass]="{'white-text': logItem>=5}"
      >
        {{logItem}}
      </div>
    </div>
  </div>
</div>
